
  <div id="edit_wrapper" class="container">
  <% provide(:title, "Edit listing") %>
  <h1>Edit your listing</h1>

  <%= form_for(@item, :html => {:class=> "form-signin"}) do |f| %>

    <div><%= f.label :name %><br />
    <%= f.text_field :name, :class=> "form-control" %></div>

    <div><%= f.label :description %><br />
    <%= f.text_area :description, :class=> "form-control" %></div>

    <div><%= f.label :price %><br />
    <%= f.text_field :price, :class=> "form-control" %></div>

    <div><%=link_to "Delete", item_path(@item.id), :id => "delete_button", :method => :delete, :confirm => "Are you sure you want to delete this listing?", :class => "btn btn-lg btn-primary btn-block" %></div>

    <div><%= f.submit "Save changes", :id => "submit_button", :class => "btn btn-lg btn-primary btn-block" %></div>
  <% end %>
</div>