<% if @items.count > 0 %>
	<div id="content_wrapper">
		<div id="pagination_top" class="digg_pagination">
			<%= will_paginate @items %>
		</div>
		<table id="main_table" class="table">
			<thead>
				<tr>
					<th>Listing</th>
					<th>Price</th>
					<th>Location</th>
					<th>Time</th>
				</tr>
			</thead>
			<% @items.each do |item| %>
				<tr class="list_item" url="/items/<%= item.id %>">
					<td class="name_td"><%= item.name %></td>
					<td>
						<% if item.price == 0 %>
							Free
						<% else %>
							<%= "$#{item.price}" %>
						<% end %>
					</td>
					<td>
						<% if current_user.present? %>
							<%= item.location %>
						<% else %>
							<% location = item.location.try(:split, '') || 'something'.split('') %>
							<% location.map! {|c| "█"} %><%= location.join %>
						<% end %>
					</td>
					<td id="time_td"><%= time_ago_in_words(item.created_at).gsub('about','') %> ago</td>				</tr>
			<% end %>
		</table>
		<div class="digg_pagination">
			<%= will_paginate @items %>
		</div>
	</div>

<% else %>
	<div id="gold_alert" class="alert alert-success">No listings have been posted in this category yet. <%= link_to 'Add one yourself!', new_item_path %></div>
<% end %>