<% if @items.count > 0 %>
	<div id="table_wrapper">
		<table id="main_table" class="table">
			<thead>
				<tr>
					<th>Listing</th>
					<th>Price</th>
					<th>Location</th>
					<th>Time</th>
				</tr>
			</thead>
			<% @items.each do |item| %>
				<tr class="list_item" url="/items/<%= item.id %>">
					<td class="name_td"><%= item.name %></td>
					<td>
						<% if item.price == 0 %>
							Free
						<% else %>
							<%= "$ #{item.price}" %>
						<% end %>
					</td>
					<td>Hansen</td>
					<td><%= time_ago_in_words(item.created_at)%> ago</td>
				</tr>
			<% end %>
		</table>
	</div>
<% else %>
	<div class="alert alert-info">No listings have been posted in this category yet. <%= link_to 'Add one yourself!', new_item_path %></div>
<% end %>