<h2>new</h2>

 <%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= check_box_tag 'categories[]', 'furniture' %>
    <%= label_tag(:furniture) %>
    <%= check_box_tag 'categories[]', 'electronics' %>
    <%= label_tag(:electronics) %>
    <%= check_box_tag 'categories[]', 'clothes' %>
    <%= label_tag(:clothes) %>
    <%= check_box_tag 'categories[]', 'books' %>
    <%= label_tag(:books) %>
    <%= check_box_tag 'categories[]', 'misc' %>
    <%= label_tag(:misc) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>