
<% if @item.errors.any? %>
  <div id="red_alert" class="alert alert-danger center_text">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li class="no_bullet"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id="listing_wrapper" class="container">
  <h2>New Listing</h2>
  Listings automatically expire after 15 days. Give your listing a price of $0 to add it to the "free" category.<br><br>

   <%= form_for(@item) do |f| %>

   <div class="field">
      <%= f.label :title %>*<br />
      <%= f.text_field :name, :class => "form-control" %>
    </div>

    <div class="field">
      <%= f.label :description %>*<br />
      <%= f.text_area :description, :class => "form-control" %>
    </div>

    <div class="row">
      <div class="col-md-9 col-xs-8">
        <div class="field">
          <label for="item_location">Location</label>*<br />
          <%= f.text_field :location, :class => "form-control", :id => "item_location", :placeholder => "e.g. Hansen, Jarvis, Crescent St." %>
        </div>
      </div>
      <div class="col-md-3 col-xs-4">
        <label for="item_price">Price</label>*<br />
        <div id="price_wrapper" class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :price, :class => "form-control", :id => "item_price", :placeholder => "0.00" %>
        </div>
      </div>
    </div>

    <div class="image_upload_button">
      <%= f.label "Add image" %> (optional)
      <%= f.file_field :image, :class => "" %>
    </div>

    <div id="categories_wrapper" class="field">
      <%= f.label :categories %>*<br />
      <%= check_box_tag 'categories[]', 'furniture' %>
      <%= label_tag(:furniture) %>
      <%= check_box_tag 'categories[]', 'electronics' %>
      <%= label_tag(:electronics) %>
      <%= check_box_tag 'categories[]', 'clothes' %>
      <%= label_tag(:clothes) %>
      <%= check_box_tag 'categories[]', 'books' %>
      <%= label_tag(:books) %>
      <%= check_box_tag 'categories[]', 'misc' %>
      <%= label_tag(:misc) %>
    </div>

    <div class="actions">
      <%= f.submit "Add your listing!", :id => "submit_button", :class => "btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>
</div>