<div id="show_listing_wrapper" class="container">
	<%= link_to "← Back", :back %>
	<% if current_user == @item.user %>
		<%= link_to 'Edit listing', {:controller => 'items', :action => 'edit', :id => @item}, :id => "edit_button", :class => "btn btn-primary" %>
	<% end %>
	<div class="row">
		<div class="col-md-12 listing_title">
			<h2><%= @item.name %></h2>
		</div>
	</div>
	<div id="listing_body" class="row">
		<div id="listing_body_inner" class="col-sm-12">
			<%= link_to @item.image.url(:original), :class => "zoom" do %>
				<%= image_tag(@item.image.url(:resized), :class => "listing_img", :alt => "Small image") if @item.image? %>
			<% end %>
			<%= @item.description %><br>
		</div>
	</div>
	<table id="listing_table" class="table">
		<tbody>
			<tr>
				<td><b>Location:</b>
				<% if current_user.present? %>
					<%= @item.location %></td>
				<% else %>
					<% location = @item.location.try(:split, '') || 'something'.split('') %>
					<% location.map! {|c| "█"} %>
					<%= location.join %>
				<% end %>
				<td><b>Posted: </b><%= time_ago_in_words(@item.created_at).gsub('about','') %> ago</td>
				<td><b>Price:</b>
					<% if @item.price == 0 %>
						Free
					<% else %>
						<%= number_to_currency(@item.price) %>
					<% end %>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="row">
		<% if current_user.present? && @item.user_id == @coop.id %>
		<div class="col-sm-12">
			<b>This item is available at The Coop. The Coop is located at the bottom of Jackson Hall, facing LSC.</b>
		</div>
		<% elsif current_user.present? %>
			<div class="col-sm-12">
				For more information, contact <b><%= @seller.email %></b>
			</div>
		<% else %>
			<div id="register_account_button_wrapper">
			<%= link_to 'Register a free account to contact this seller', new_user_registration_path, :id => "register_account_button", :class => "btn btn-lg btn-primary btn-block" %>
			<% end %>
			</div>
	</div>

</div>