<!DOCTYPE html>
<html>
<head>
  <title>Trinlist</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="navbar" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button id="navbar_button" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Trinlist', root_path, :class => "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li id="nav_link" class="active"><a href="#">All</a></li>
        <li id="nav_link"><a href="#about">Furniture</a></li>
        <li id="nav_link"><a href="#contact">Electronics</a></li>
        <li id="nav_link"><a href="#about">Clothes</a></li>
        <li id="nav_link"><a href="#contact">Books</a></li>
        <li id="nav_link"><a href="#about">Misc.</a></li>
        <li id="nav_link"><a href="#about">Free</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="nav_add_item"><%= link_to 'Add', new_item_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">My Listings</a></li>
            <li><a href="#">Account Settings</a></li>
            <li>            
              <% if current_user.present? %>
                <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
              <%# user is not logged in, show signup and login links %>
              <% else %>
                <%= link_to 'Sign In', new_user_session_path %>
                <%= link_to 'Register', new_user_registration_path %>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<p class="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
